<div th:fragment="content">
    <div class="card shadow mx-auto col-8 mb-4">
        <div class="card-header py-3">
            <h4>Buscar veiculo</h4>
            <form data-target="divRetornoBusca" method="post" id="input-busca-veiculo-cliente" class="user form-ajax" th:action="@{/buscar-veiculo}">
                <input type="text" name="stringBusca" class="form-control busca-veiculo-cliente" placeholder="Digite a placa ou o nome do cliente...">
            </form>

        </div>


        <div class="card-body">
            <h4>Lista de veiculos</h4>
            <hr>
                <div th:insert="tabelaVeiculos.html :: divRetornoBusca" class="mt-4">

                </div>

        </div>
    </div>
</div>